body {
    background-color: #8babf1;
    font-family: "National Park", sans-serif;
}

.dogCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.dogCard {
    display: inline-block;
    flex-grow: 1;
    margin: 5px 20px;
    padding: 5px 20px;
    background-color: white;
    border-radius: 5%;
    border: 8px solid black;
}

.dogImage {
  width: 20em;
  height: 20em;
  border-radius: 5%;
  display: flex;
  justify-self: center;
}

.dogName{
    font-size: 2em;
}
.nameAndBreed{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dogStats{

}

.dogCardBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.likeButton{
    border: none;
    background: none;
    font-size: 3em;
}

.likeButton:hover{
    font-size: 3.5em;
    /* border: white; */
    border-radius: 60%;
    /* credit for box shadow css on line below: https://www.w3schools.com/CSS/tryit.asp?filename=trycss_buttons_shadow */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

h1 {
    text-align: center;
    font-size: 55px;
}

#formCard {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-size: 25px;
}

#form{
    background-color: #b3c7f7;
    padding: 50px;
    justify-content: center;
}

#searchButton {
    padding: 5px;
    font-size: 1.3em;
    margin: 10px;
    background-color: #054fb9;
    border:  2px solid #054fb9;
    padding: 10px;
    color: white;
    display: flex;
    justify-self: center;
}

#searchButton:hover {
    background-color: white;
    color: #054fb9;
    border:  2px solid #054fb9;
}

input {
    font-size: 25px;
    max-width: 50%;
    /* margin-left: 10px; */
}

.zipLineDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.navButton {
    display: flex;
    margin: -20px 20px 20px 20px;
    padding: 15px;
    background-color: #f8b8d0;
    text-decoration: none;
    color: black;
    max-width: 15%;
    text-align: center;
    border: 2px solid black;
}

.navButton:hover {
    background-color: white;
    color: #054fb9;
    border:  2px solid #054fb9;
}

.emptyResults {
    justify-content: center;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.emptyResultsCard{
    background-color: white;
    padding: 80px;
    border-radius: 30%;
    justify-content: center;
    margin-left: 55%;
    width: 300px;
}